

#pselector-parent {
    position: absolute;
    top: 300px;
    left: 50px;
    padding: 10px;
    background-color: #404040;
    border: 1px solid black;
    border: 1px solid #000000;
    /* slight drop shadow */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#pselector-parent p {
    color: #dadada;
}

#pselector-parent select {
    width: 200px;
    margin: 10px;
    margin-left: 1px;
    margin-top: 1px;
}

#p-selector-parent button {
    margin-left: 10px;
    margin-right: 20px;
}