
#field-parent {
    position: absolute;
    top: 300px;
    left: 50px;
    padding: 10px;
    background-color: #404040;
    border: 1px solid #000000;
    /* slight drop shadow */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#field-parent > canvas {
    margin-top: 10px;
}

#field-parent button {
    background-color: #d9d9d9;
    border: 1px solid #9b9b9b;
    color: black;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
    margin-right: 10px;
}

#field-parent button:hover {
    background-color: #e6e6e6;
}

#field-parent button:active {
    background-color: #b3b3b3;
}

.field-info-span {
    color: white;
    font-size: 15px;
    margin-right: 10px;
}

#generated-path-info {
    border: 1px dotted #ffffff;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}